.Select-control {
    background-color: rgb(25, 25, 25) !important;
    color:rgba(181, 245, 255, 0.8);
}  

.Select-value-label {
    background-color: rgb(25, 25, 25) !important;
    color: rgba(181, 245, 255, 0.8) !important;
}

.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: rgba(181, 245, 255, 0.8);
} 

.card-value {
    text-align: center; 
    color: rgba(181, 245, 255, 0.8);
    font-size: 25px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(181, 245, 255, 0.8);
}

.card-target {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
}