<!DOCTYPE html>
<html>
<head>
    <title>SD APP</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}"> -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>StockDrop App</h1>

    <div>
        <label for="currency">Choose a currency:</label>
        <select id="currency" name="currency">
            {% for currency in currency_options %}
            <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <label for="time_period">Choose a time period:</label>
        <select id="time_period" name="time_period">
            {% for time_period in time_period_options %}
            <option value="{{ time_period }}">{{ time_period }}</option>
            {% endfor %}
        </select>
    </div>

    <button id="notification_toggle" onclick="startDaemon()">Enable Notifications</button>
    
    <h2>Running Daemons</h2>
    <ul id="running_daemons">
        <!-- Running daemons will be displayed here -->
    </ul>

    <div>
        <label for="data_type">Select Data Type:</label>
        <select id="data_type" name="data_type">
            <option value="open">open</option>
            <option value="high">high</option>
            <option value="low">low</option>
            <option value="close">close</option>
        </select>
    </div>
    
    <div id="plot-div">
        <!-- Plot will be displayed here -->
        <div class="plot" id="plot1">
        </div>
        <div class="plot" id="plot2">
        </div>
        <div class="plot" id="plot3">
        </div>
        <div class="plot" id="plot4">
        </div> 
    </div>


    <div id="news_area">
        <!-- Top news will be displayed here -->
        <table class="table" id="news_table">
            <thead id="news_table_head">
                <tr>
                    <th>Title</th>
                    <th>Summary</th>
                    <th>Overall Sentiment Score</th>
                    <th>Overall Sentiment Label</th>
                    <th>Ticker Relevance Score</th>
                    <th>Ticker Sentiment Score</th>
                    <th>Ticker Sentiment Label</th>
                    <th>Time Published</th>
                </tr>
            </thead>
            <tbody id="news_table_body">
                <!-- News will be displayed here -->
            </tbody>
        </table>
    </div>

    <div id="kpi_area">
        <!-- Key Performance Indicators will be displayed here -->
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        updateRunningDaemons();// Update on page load
    </script>
</body>
</html>